body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#map-test {
  /* display: flex; */
}

.box {
  /* flex-shrink: 0; */
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
